html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #f0f0f0;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#card{
  margin: 0 auto;
  padding: 0;
}

.c {
  position: absolute;
  margin: 0 auto;
  /* max-width: 500px;
  max-height: 500px; */
  width: 100%;
  height: 100%;
  cursor: pointer;
  will-change: transform, opacity;
  
}

.back {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.front{
  background: white;
  overflow: hidden;
}

/* #backImg {
    border: 2px solid #556270;
    border-radius: 2%;
    margin: 0;
    width: 100%;
    height: auto;
} */

#appName {
  text-align: center;
  height: 20px;
  width: 100%;
  margin: 0 auto;
}

#appDesc {
  color: black;
  font-size: 15pt;
  text-align: center;
  width: 90%;
  height: auto;
  margin: 10px auto;
  padding: 0;
  position: absolute;
  top: 50px;
}
a {
  align-self: flex-end;
  margin: 0 auto;
  z-index: 2;
}

#github {
  color: black;
  border: 2px outset #556270;
  border-radius: 2%;
  min-height: 50px;
  min-width: 100px;
}
#deployed {
  color: black;
  border: 2px solid #556270;
  border-radius: 2%;
  min-height: 50px;
  min-width: 100px;
}

/* .front {
  background-image: url(https://images.unsplash.com/photo-1540206395-68808572332f?ixlib=rb-1.2.1&w=1181&q=80&auto=format&fit=crop);
} */
