#testimonials {
  background: rgba(0, 0, 0, 0.1);
  min-height: 200px;
  line-height: 100%;
  font-family: cursive;
  font-size: 20pt;
  /* background: #979796; */

  /* clip-path: polygon(0% 0%, 300% 0%, 0% 70%, 0% 100%); */
}

blockquote{
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-bottom: 100px;
}
