header#header {
  background: linear-gradient(to bottom,#2e2e2c, #492527);
  height: 85%;
  position:fixed;
  display:block;
  width:110%;
  clip-path: polygon(0% 0%, 250% 0%, 0% 70%, 0% 100%);
}


h1 {
  margin: 0;
  padding: 10px;
  color: rgb(255, 249, 249);
  /* position: absolute;
  top: 5px; 
  left: 5px; */
}
