#header {
  background: #2e2e2c;
  height: 10%;
  position: relative;
  /* top: 0;
  left: 0; */
  z-index: 1;
}

h1 {
  margin: 0;
  padding: 10px;
  color: white;
}

.logo{
  padding: 0  !important;
 margin-top: 10px;

  width: 20%;
  height: auto;
}


