.Contact {
  font-family: sans-serif;
  text-align: right;
  height: 100%;
  /* max-width: 500px;
  position: absolute;
  top: -75px;
  right: -100px; */
}

.contactForm{
  background: gray;
}

form {
  width: 200px;
  padding: 10px;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  height: 40px;
  border: none;
  width: 100px;
  line-height: 1;
  cursor: pointer;
  color: white;
  background:none;
}

button:active {
 color: rgba(255, 255, 255, 0.8);
}
button:hover {
  color: rgba(0, 0, 0, 0.3);
}
