.contact {
  font-family: sans-serif;
  height: 100%;
  z-index: 800;
}

.contactForm{
  background: gray;
}

form {
  width: 200px;
  padding: 10px;
}

input {
  padding: 10px;
  margin: 10px;
}

#contactBtn {
  height: 10%;
  border: none;
  width: 80%;
  cursor: pointer;
  color: white;
  background:none;
  margin-top: 20px;
  margin-left: 20px;
}

button:active {
 color: rgba(255, 255, 255, 0.8);
}
button:hover {
  color: rgba(0, 0, 0, 0.3);
}
