html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #f0f0f0;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
  /* overflow: scroll; */
}

div.mainContent{
  padding-bottom: 100px;
  background: linear-gradient(to bottom, #2e2e2c, #492527);
  clip-path: polygon(0% 0%, 300% 0%, 0% 100%, 0% 100%);
  overflow: scroll;
}

